
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.color-input-addon {
	border-right: 0;
	border-radius: 4px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.form-group {
	margin-bottom: 5px;
}
.form-group .col-sm-1, .form-group .col-sm-2, .form-group .col-sm-3, .form-group .col-sm-4,
.form-group .col-sm-5, .form-group .col-sm-6, .form-group .col-sm-7, .form-group .col-sm-8, 
.form-group .col-sm-9, .form-group .col-sm-10, .form-group .col-sm-11, .form-group .col-sm-12 {
	padding-right: 2px;
	padding-left: 0px;
}
.form-group .control-label {
	padding-right: 3px;
}
.form-group .btn {
	padding: 6px 2px;
}
.form-group .icon-select-button {
	padding: 6px 6px;
}

.form-horizontal {
	margin-top: 10px;
}

.form-control {
	padding: 3px 6px;
}
.col-sm-1 .form-control, select.form-control {
	padding: 0px;
	text-align: center;
}

select.form-control {
	padding: 0px;
}
select.form-control option {
	padding: 0px;
}

.dropdown-text {
	width: 100%;
}
.dropdown-text>li>a {
	margin: 0px;
	padding-left: 3px;
	position: relative;
}
.dropdown-icons {
	width: 300px;
}
.dropdown-icons>li>a {
	padding-left: 35px;
	position: relative;
}
.dropdown-menu {
	width: 540px;
}
.dropdown-menu a > span {
	position: absolute;
	left: 5px;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	width: 24px;
	height: 24px;
	background-size: auto 90%;
	top: 50%;
	margin-top: -12px;
}


h3 {
	margin: 7px 0px;
	font-size: 22px;
}

label, p {
	margin-bottom: 0px;
}


/****************************/
/****** MENU CONTAINER ******/
/****************************/

#menu-container {
	padding-right: 12px;
    padding-left: 10px;
}

#menu-container .form-group {
	margin-bottom: 2px;
}

#file-name {
	padding: 0px;
}
#file-name {
	padding-bottom: 0px;
}

#default-values-block p,
#default-values-block button,
#page-settings-block p,
#page-settings-block button {
	padding-top: 0px;
	padding-bottom: 0px;
	height: 24px;
	line-height: 24px;
}
#default-values-block label,
#default-values-block .checkbox,
#page-settings-block label,
#page-settings-block .checkbox {
	min-height: unset;
	height: 24px;
	line-height: 24px;
	padding-top: 0px;
	vertical-align: middle;
}
#default-values-block .checkbox input[type=checkbox],
#page-settings-block .checkbox input[type=checkbox] {
	margin-top: 0px;
}
#default-values-block select,
#default-values-block input,
#page-settings-block select,
#page-settings-block input {
	height: 24px;
    font-size: 13px;
	vertical-align: middle;
}
#default-values-block .btn-colorselector,
#page-settings-block .btn-colorselector {
	width: 16px;
	height: 16px;
}
#default-values-block .dropdown,
#page-settings-block .dropdown {
	padding: 2px;
	height: 24px;
}
#default-values-block .dropdown > a,
#page-settings-block .dropdown > a {
	height: 16px;
}
#default-values	-block .dropdown-menu,
#page-settings-block .dropdown-menu {
	width: 322px;
}

#title-cards-list * {
	margin-bottom: 0px;
}
#title-cards-list h3 {
	margin-left: 15px;
	margin-top: 0px;
}
#title-cards-list button {
    width: 40px;
    margin: 0px 2px 0px 0px;
    padding: 2px;
	float: right;
	font-size: 13px;
}
#cards-list-buttons > * {
	padding-right: 2px;
}
#cards-list-buttons button,
#cards-list-buttons select {
    margin: 0px 5px 0px 0px;
    padding: 2px;
	font-size: 13px;
	height: 24px;
}

#total_card_count {
	padding: 2px 0px 0px 2px;
	display: inline-block;
}

#cards-list {
	margin: 0px -39px 0px -15px;
    overflow-y: scroll;
}
#cards-list .card-name {
	margin: 0px;
	padding: 1px 0px 0px 5px;
	min-height: 19px;
	line-height: 1.1;
	cursor: pointer;
	position: relative;
}
#cards-list .card-name.selected {
	padding: 0px 0px 0px 4px;
	border: solid 1px #33333377;
}
#cards-list .card-name h4 {
	margin: 0px;
	padding: 0px;
	height: 17px;
	font-size: 16px;
}
#cards-list .card-count {
	position: absolute;
	right: 0px;
	top: 1px;
	margin-right: 12px;
}
#cards-list .card-count * {
	vertical-align: text-bottom;
}
#cards-list .card-name.selected .card-count {
	right: -1px;
	top: 0px;
}

.card-count-more, .card-count-less {
	padding: 0px;
	width: 17px;
	font-size: 14px;
	line-height: unset;
}


/****************************/
/**** CARD FORM CONTAINER ***/
/****************************/

#card-form-container {
}


/****************************/
/***** PREVIW CONTAINER *****/
/****************************/

#preview-container {
    z-index: 0;
	padding: 0px 0px 0px 10px;
	background-color: white;
	justify-content: space-around;
	align-items: center;
}
#preview-container .card {
	margin-left: auto;
	margin-right: auto;
}
#preview-container .card-size-25x35,
#preview-container .card-size-225x35 {
	zoom: 1.60;
}

/* Small screen (preview fills all columns) */
@media (max-width : 1199px) {
	#preview-container {
		display: flex;
		flex-flow: row wrap;
	}
	.card {
		margin-right: 10px;
	}
}
/* Large screen (preview fills one column, columns are narrow) */
@media (min-width: 1200px) {
	.card {
		margin-top: 2.5px;
	}
}


/****************************/
/***** GENERAL BUTTONS ******/
/****************************/

.btn-fold-block {
	width: fit-content;
    cursor: pointer;
}
.btn-fold-block svg {
	display: inline;
	vertical-align: middle;	
	position: relative;
	top: -1px;
}

.btn-fold-section {
	z-index: 100;
	position: relative;
    width: 12px;
    margin: 0px;
    padding: 0px;
	border: none;
	border-radius: 1px / 100px;
	outline: 0px;
	float: left;
}
@media (max-width: 1199px) {
	.btn-fold-section {
		display: none;
	}
}
.btn-fold-section-right {
    margin-left: -12px;
	background: radial-gradient(at 100% 50%, #666666ff 0%, #ffffff00 75%);
	border-right: 1px solid #aaaaaaaa;
}
.btn-fold-section-right:hover {
	background: radial-gradient(at 100% 50%, #331111ff 0%, #ffffff00 75%);
	border-right: 1px solid #88666666;
}
.btn-fold-section-left {
    margin-right: -12px;
	background: radial-gradient(at 0% 50%, #666666ff 0%, #ffffff00 75%);
	border-left: 1px solid #aaaaaaaa;
}
.btn-fold-section-left:hover {
	background: radial-gradient(at 0% 50%, #331111ff 0%, #ffffff00 75%);
	border-left: 1px solid #88666666;
}

@media (min-width: 992px){
	.hide-when-large{
		display:none;
	}
}

@media (min-width: 1200px) {
	.container-wrapper {
		padding: 0px;
		overflow: hidden;
	}
	.container-wrapper > * {
		height: 100%;
		margin: 0px;
		margin-right: -15px;
		padding: 0px 15px;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}