h3 {
	margin-top: 10px;
}

label, p {
	margin-bottom: 0px;
}

#file-name {
	padding: 0px;
}
#file-name {
	padding-bottom: 0px;
}

#menu-container {
	padding-right: 10px;
    padding-left: 10px;
}

.btn-fold-block {
	width: fit-content;
}
.btn-fold-block svg {
	display: inline;
	vertical-align: middle;	
	position: relative;
	top: -1px;
}

.btn-fold-section {
	z-index: 1;
	position: relative;
	height: 800px;
    width: 10px;
    margin: 0px;
    padding: 0px;
	border: none;
	border-radius: 1px / 100px;
	outline: 0px;
	float: left;
}
@media (max-width: 1199px) {
	.btn-fold-section {
		display: none;
	}
}
.btn-fold-section-right {
	right: -1px;
    margin-left: -10px;
	background: radial-gradient(at 100% 50%, #666666ff 0%, #ffffff00 75%);
	border-right: 1px solid #aaaaaaaa;
}
.btn-fold-section-right:hover {
	background: radial-gradient(at 100% 50%, #331111ff 0%, #ffffff00 75%);
	border-right: 1px solid #88666666;
}
.btn-fold-section-left {
	left: -1px;
    margin-right: -10px;
	background: radial-gradient(at 0% 50%, #666666ff 0%, #ffffff00 75%);
	border-left: 1px solid #aaaaaaaa;
}
.btn-fold-section-left:hover {
	background: radial-gradient(at 0% 50%, #331111ff 0%, #ffffff00 75%);
	border-left: 1px solid #88666666;
}

#title-cards-list * {
	margin-bottom: 0px;
}
#title-cards-list h3 {
	margin-left: 15px;
	margin-top: 0px;
}
#title-cards-list h3 ~ button {
    width: 50px;
    margin: 0px 5px 0px 0px;
    padding: 2px;
    float: right;
}
#title-cards-list h3 ~ button:first-child {
	margin-right: 0px;
}
#cards-list {
	margin-top: 0px;
}
#cards-list .card-name {
	margin: 0px -17px 0px -20px;
	padding-left: 10px;
	font-size: 16px;
	min-height: 17px;
	cursor: pointer;
}

#card-form-container {
	padding: 0px 17px;
}

#preview-container {
	margin: 0px 0px;
	padding: 0px 14px 0px 16px;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#preview-container .card-size-25x35,
#preview-container .card-size-225x35 {
	zoom: 1.60;
}

/* Small screen (preview fills all columns) */
@media (max-width : 1199px) {
	#preview-container {
		flex-flow: row wrap;
	}
	.card {
		margin-right: 10px;
	}
}
/* Large screen (preview fills one column, columns are narrow) */
@media (min-width: 1200px) {
	#preview-container {
		flex-flow: column wrap;
	}
	.card {
		margin-top: 2.5px;
	}
}

@media (min-width: 992px){
	.hide-when-large{
		display:none;
	}
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.color-input-addon {
	border-right: 0;
	border-radius: 4px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.form-group {
	margin-bottom: 5px;
}

.form-group .col-sm-1, .form-group .col-sm-2, .form-group .col-sm-3, .form-group .col-sm-4,
.form-group .col-sm-5, .form-group .col-sm-6, .form-group .col-sm-7, .form-group .col-sm-8, 
.form-group .col-sm-9, .form-group .col-sm-10, .form-group .col-sm-11, .form-group .col-sm-12 {
	padding-right: 4px;
	padding-left: 0px;
}

#total_card_count {
	padding-top: 5px;
	padding-bottom: 0px;
}

.form-group .btn {
	padding: 6px 2px;
}

.form-group .icon-select-button {
	padding: 6px 6px;
}

.form-horizontal {
	margin-top: 10px;
}

.form-control {
	padding: 3px 6px;
}
.col-sm-1 .form-control, select.form-control {
	padding: 3px 3px;
}

select.form-control {
	padding: 0px;
}
select.form-control option {
	padding: 0px;
}

.dropdown-text {
	width: 100%;
}
.dropdown-text>li>a {
	margin: 0px;
	padding-left: 3px;
	position: relative;
}
.dropdown-icons {
	width: 300px;
}
.dropdown-icons>li>a {
	padding-left: 35px;
	position: relative;
}
.dropdown-menu {
	width: 540px;
}
.dropdown-menu a > span {
	position: absolute;
	left: 5px;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	width: 24px;
	height: 24px;
	background-size: auto 90%;
	top: 50%;
	margin-top: -12px;
}